html {
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}

/* html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
} */ /* Hide scrollbar */


body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #f40;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}
